.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.text-input {
  border: none;
  width: 800px;
  background: transparent;
  text-align: left;
  position: absolute;
  outline: none;
  top: 0px;
  left: 0px;
  z-index: 1;
}

/* .text-input:focus {
  outline: none;
} */

.placeholder-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -2;
  color: grey;
}

.text-wrapper {
  position: relative;
  margin: 20px;
}